{% extends 'global/base.html' %}

{% block content %}
<div class="main-content main-content-list container">
    {% include 'washBudget/partials/sofa.html' %}
    {% include 'washBudget/partials/tapete.html' %}
    {% include 'washBudget/partials/cadeira.html' %}
    {% include 'washBudget/partials/colchao.html' %}
    {% include 'washBudget/partials/automovel.html' %}
    {% include 'washBudget/partials/poltrona.html' %}
    {% include 'washBudget/partials/carpete.html' %}
    {% include 'washBudget/partials/futton.html' %}
    {% include 'washBudget/partials/banqueta.html' %}
    {% include 'washBudget/partials/chaise.html' %}
    {% include 'washBudget/partials/recamier.html' %}
    {% include 'washBudget/partials/cabeceira.html' %}
</div>   


{% endblock content %}
